.banner{

    background-image: url('../img/sl_121019_25870_73.jpg');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 35% 30%;

}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(211, 202, 199);
    color: rgb(2, 2, 2);
  }